.page {
    width: 100vw;
    left: 0;
    margin: 0;
}
.title {
    text-align: center;
    font-weight: 400;
}
.scrollable {
    height: 82.5svh;
    overflow-y: hidden;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
.panel {
    position: relative;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
}
.bold {
    font-weight: 600;
}